
.generated {
	max-height: 20%;
	max-width: 30%;
	min-width: 30%;
	text-align:center;
	padding-bottom:250px;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;

}

.titleLinkButton {
	width: 100%;
}

.submitBox{
	max-width: 30%;	
	margin-left: 20px;
	margin-right: 20px;
	margin:auto;
}

.submitBoxButton{
	margin:auto;
	min-width: 100%;
}
.linkCard{
	max-width: 100%;
	margin:auto;
}

.linkDelete{
	float:right;
}
.pushpinWrapper{
	position:absolute;
	top:50px;
}

