<div ng-show="tester"=></div>
<div ng-controller="LinksController">
	<div ng-show="tester"=>
		<h1>Test</h1>
	</div>
	<div ng-repeat="link in links" class=" card large linkCard grey lighten-2">
    	<a ng-click="deleteLink(link)" class="btn-floating btn-small waves-effect waves-light grey lighten-2"><i class="mdi-content-clear"></i></a>
        <span class="card-title activator grey-text text-darken-2 linker"> {{link.title}} <i class="mdi-navigation-more-vert right"></i></span>
        <p><a href="http://{{link.url}}">{{link.url}}</a></p>
        <div class="card-image waves-effect waves-teal waves-block waves-light">
	        <img class="activator" src="/images/kobe.jpg"  width="100%">
        </div>
        <div class="card-reveal">
	         <span class="card-title black-text text-darken-4">{{link.title}}<i class="mdi-navigation-close right"></i></span>
	         <p>{{link.description}}</p>
        </div>
    </div>
</div>


	<!-- 			<div class="card panel-default generated" ng-repeat="link in links" >
				  <div class="panel-heading" style="text-align:center">
				    	<a role="button" class="btn btn-primary titleLinkButton" href="http://{{link.url}}" >{{link.title}}</a>
				    	<br>Posted At: {{link.submissionTime}}
				    	<br>Posted By: {{link.postedBy}}
				    	<br>Viewed By: <span ng-repeat="viewer in link.viewedBy">{{viewer}} </span>
				  </div>
				  <div class="panel-body">
				    {{link.description}}
				  </div>
				</div> -->
		<!-- </div> -->
<!-- 	</div>
</div> -->