<div ng-controller="NavController">
  <div ng-show="tester">
    <h1 ng-model="user"> Hey {{user.username}}</h1>
  </div>
  <div class="col hide-on-small-only m3 l2">
    <div class="pushpinWrapper">
      <div style="height: 1px;">
        <h4> HELLO user: {{user.email}} </h2>
        <ul class="section table-of-contents">
          <li>
            <form action="/signup" method="POST">
              <fieldset>
                <legend>Sign Up</legend>
                <div>
                  <label for="username">Username: </label>
                  <input name="username" type="username">
                </div>
                <div>
                  <label for="password">Password: </label>
                  <input name="password" >
                </div>
                <button type="submit">Sign up</button>
              </fieldset>
            </form>
          </li>
          <li>
            <form action="/login" method="POST">
              <fieldset>
                <legend>Log In</legend>
                <div>
                  <label for="username">Username: </label>
                  <input name="username" type="username">
                </div>
                <div>
                  <label for="password">Password: </label>
                  <input name="password" >
                </div>
                <button type="submit">Log In</button>
              </fieldset>
            </form>
          </li>

          <!-- <li><a ng-click='refresh()' class="waves-effect waves-light modal-trigger" href="#modal3" >Log In</a></li> -->
          <!-- <li><a ng-click='refresh()' class="waves-effect waves-light modal-trigger" href="#modal2">Sign Up</a></li> -->
          <li><a href='/logout' class="waves-effect waves-light">Log Out</a></li>

          <li><a ng-click='refresh()'class="waves-effect waves-light modal-trigger" href="#modal1">Submit</a></li>
          <li><a href="/bro">Bro</a></li>
          <li><a href="#options">Options</a></li>
        </ul>
      </div>
    </div>
    <div class="logowrapper">
      <ul class="section table-of-contents">
          <li><a>firstCup</a></li>
        </ul>
    </div>
  </div>
</div>
<div ng-controller="NavController" id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content row">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="row">
            <div class="input-field col s12">
              <input ng-model="submission.url" id="url" type="text" class="validate">
              <label for="url">Link</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input ng-model="submission.title" id="Title" type="text" class="validate">
            <label for="Title">Title</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input ng-model="submission.description" id="description" type="text" class="validate">
            <label for="description">Description</label>
          </div>
        </div>
        <a type="submit" ng-click='submit(submission)' class="waves-effect waves-teal btn-flat modal-close">Submit Link</a>
      </form>
    </div>
  </div>
</div>

<div ng-controller="AuthController" id="modal2" class="modal modal-fixed-footer">
  <div class="modal-content row">
    <div class="row">
      <form class="col s12" action="/signup" method="POST">
        <div class="row">
          <div class="row">
            <div class="input-field col s12">
              <input ng-model="user.firstName" id="firstName" type="text" class="validate">
              <label for="url">First</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row">
            <div class="input-field col s12">
              <input ng-model="user.lastName" id="lastName" type="text" class="validate">
              <label for="url">Last</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row">
            <div class="input-field col s12">
              <input name="username" ng-model="user.username" id="username" type="text" class="validate">
              <label for="url">Username</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="password" ng-model="user.password" id="password"  type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input ng-model="user.confirmPassword" id="confirmPassword"  type="password" class="text">
            <label for="password">Confirm Password</label>
          </div>
        </div>
        <button type="submit" class="waves-effect waves-teal btn-flat modal-close">Sign Up</a>
      </form>
    </div>
  </div>
</div>
<div ng-controller="AuthController" id="modal3" class="modal modal-fixed-footer">
  <div class="modal-content row">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="row">
            <div class="input-field col s12">
              <input name="username" ng-model="user.username" id="username" type="text" class="validate">
              <label for="username">Username</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="password" ng-model="user.password" id="password"  type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <a type="submit" ng-click='signin(user)' class="waves-effect waves-teal btn-flat modal-close">Sign In</a>
      </form>
    </div>
  </div>
</div>
