  
  <div ng-controller="NavController" class='navbar-fixed'>
  	<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">First Cup</a>
      <ul id="nav-mobile" class="right hide-on-small-and-down">
        <li class="waves-effect waves-light modal-trigger" href="#modal1"><a>Submit Link<i></i></a></li>
        <li><a>Profile</a></li>
        <li><a>Logout</a></li>
      </ul>
    </div>
  </nav>
</div>

<div ng-controller="NavController" id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content row">
<!--       <button type="submit" ng-click='submit(submission)' class="btn btn-default modal-close ">Submit</button>
</div>  -->

  <div class="row">
    <form class="col s12">
      <div class="row">
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="submission.url" id="url" type="text" class="validate">
          <label for="url">Link</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="submission.title" id="Title" type="text" class="validate">
          <label for="Title">Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="submission.description" id="description" type="text" class="validate">
          <label for="description">Description</label>
        </div>
      </div>
  
       <a ng-click='submit(submission)' class="waves-effect waves-teal btn-flat modal-close">Submit</a>

    </form>

  </div>

</div>
